* {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style: none;
}

.header-container {
	/* background-color: rgba(14,0,70,1); */
	color: white;
	padding: 1.5rem max(4.5rem, 8dvw);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: max-content;
	backdrop-filter: blur(7px);
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-2 ul {
	display: flex;
	gap: 4rem;
}

.navbar-2 ul li {
	transition: all 0.15s;
	font-size: 1.2rem;
	font-weight: 600;
}

.active {
	color: rgba(0,149,255,1);
}

.navbar-2 ul li:hover {
	color: rgba(0,149,255,1);
	opacity: 0.9;
}

.home-link {
	font-size: 1.6rem;
	font-weight: 800;
	transition: all 0.5s;

	span {
		opacity: 0;
		transition: all 0.5s;
		transition-timing-function: ease-in;
		color: black;
	}
}

.home-link:hover {
	/* color: rgba(0,97,179,1); */
	color: rgba(0,149,255,1);
	span {
		opacity: 1;
		display: inline-flex;
		color: white;
	}
}

.main-container {
	/* height: 100dvh; */
	margin: auto 0;
	display: flex;
	align-items: center;
	width: 100%;
}

.main {
	height: max-content;
	width: 75%;
	max-width: 1000px;
	/* margin: auto; */
	padding: max(220px, 10dvh) max(0.3rem, 10dvw);
}

.main-title {
	font-size: 3.6rem;
	font-weight: 800;
	padding: 0 0 1.3rem 0;
}

.main-sdesc {
	font-size: 1.85rem;
	font-weight: 700;
	padding: 0 0 1.5rem 0;
	color: rgba(0,149,255,1);
}

.main-ldesc {
	font-size: 1.2rem;
	color: rgba(213,213,213,1);
	line-height: 1.5;
}

@media (max-width: 1100px) {
	.navbar-2 ul {
		gap: 2.5rem;
	}

	.main {
		width: 80%;
	}

	.main-title {
		font-size: 2.8rem;
	}

	.main-sdesc {
		font-size: 1.6rem;
	}

	.main-ldesc {
		font-size: 1.05rem;
	}
}

@media (max-width: 1000px) {
	.header-container {
		height: max-content;
		display: block;
		padding: unset;
		backdrop-filter: unset;
	}

	.navbar {
		justify-content: unset;
		width: 100%;
		height: 100%;
		display: block;
	}

	.navbar-1 {
		margin: 1rem 0.75rem 0;
		border: 1px solid transparent;
		padding: 0.5rem max(4.5rem, 8dvw);
		backdrop-filter: blur(7px);
		border-radius: 25px;
		box-shadow: 0 0 10px rgba(255,255,255,0.27);
	}

	.home-link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: rgba(0,149,255,1);
		white-space: nowrap;
		font-size: 1.4rem;

		span {
			opacity: 1;
			display: inline-flex;
			color: white;
		}
	}

	.home-link-hide {
		white-space: nowrap;
	}

	.navbar-2 {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px 20px;
		backdrop-filter: blur(7px);
	}

	.navbar-2 ul {
		justify-content: space-between;
		gap: 1rem;
		overflow: auto;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
		overflow: -moz-scrollbars-none;
	}

	.navbar-2 ul::-webkit-scrollbar { 
		display: none;  /* Older Safari and Chromium */
	}

	.navbar-2 ul li {
		font-size: 1.2rem;
	}
}

@media  (max-width: 900px) {
	.main {
		width: 100%;
		padding: max(7rem) max(1.35rem);
	}

	.home-link {
		font-size: 1.2rem;
	}

	.navbar-2 ul li {
		font-size: 0.95rem;
	}
}
