@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	padding: 100px 0 0;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style: none;
}

.header-container {
	/* background-color: rgba(14,0,70,1); */
	color: white;
	padding: 1.5rem max(4.5rem, 8dvw);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: max-content;
	backdrop-filter: blur(7px);
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-2 ul {
	display: flex;
	gap: 4rem;
}

.navbar-2 ul li {
	transition: all 0.15s;
	font-size: 1.2rem;
	font-weight: 600;
}

.active {
	color: rgba(0,149,255,1);
}

.navbar-2 ul li:hover {
	color: rgba(0,149,255,1);
	opacity: 0.9;
}

.home-link {
	font-size: 1.6rem;
	font-weight: 800;
	transition: all 0.5s;

	span {
		opacity: 0;
		transition: all 0.5s;
		transition-timing-function: ease-in;
		color: black;
	}
}

.home-link:hover {
	/* color: rgba(0,97,179,1); */
	color: rgba(0,149,255,1);
	span {
		opacity: 1;
		display: inline-flex;
		color: white;
	}
}

.main-container {
	/* height: 100dvh; */
	margin: auto;
	width: 100%;
	padding: 0 max(0.3rem, 6dvw) 0 !important;
}

.intro {
	padding: 110px 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back-svg {
	width: 30rem;
	height: 100%;
	background: url("home-pic.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

.main {
	/* height: max-content; */
	width: 90%;
	max-width: 3070px;
	margin: auto;
	padding: 0 max(0.3rem, 3dvw);
}

.main-title {
	font-size: 3.6rem;
	font-weight: 800;
	padding: 0 0 1.3rem 0;
}

.main-sdesc {
	font-size: 1.85rem;
	font-weight: 700;
	padding: 0 0 1.5rem 0;
	color: rgba(0,149,255,1);
}

.main-ldesc {
	font-size: 1.2rem;
	color: rgba(213,213,213,1);
	line-height: 1.5;
}

.color-white {
	color: lightgrey;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.75rem;
	font-size: 1.05rem;
	font-weight: 500;
	/* background-color: transparent; */
	background-color: rgba(58,58,58,1);
	padding: 15px 5%;
}

.footer-text {
	text-align: center;
	font-family: Montserrat, Inter, sans-serif;
}

.github-link {
	/* margin: auto; */

	img {
		width: 16px;
		vertical-align: middle;
	}
}

.svg-link-container {
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;

	.img-svg-text {
		padding: 25px;
	}

	.img-svg-1,
	.img-svg-2,
	.img-svg-3
	.img-svg-4,
	.img-svg-5,
	.img-svg-6,
	.img-svg-7 {
		width: 150px;
	}
}

.svg-link-container:nth-child(2n) {
	flex-direction: row-reverse;
}

.contact-page-text-1 {
	margin: auto;
	/* width: max-content; */
	padding-top: 1.5rem;
	padding-bottom: 5rem;
}

.contact-1 {
	display: flex !important;
	justify-content: center;
	gap: 1rem;
	font-family: "Inter", sans-serif;
	font-size: 1.9rem;
	font-weight: 600;
	/* padding-bottom: 3rem; */
	color: rgba(213,213,213,1);
	padding: 0 20px 20px;
}

.contact-2 {
	display: flex;
	flex-direction: column;
	gap: 7rem;
	font-size: 3.5rem;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	color: rgba(213,213,213,1);
}

.contact-2-project {
	.img-svg-1 {
		width: 24rem !important;
	}

	.img-svg-2 {
		width: 22rem !important;
	}

	.img-svg-3 {
		width: 22rem !important;
		border: 12px solid white !important;
		background-color: white;
	}

	.img-svg-4 {
		width: 24rem !important;
	}
}

.contact-2-skill {
	.img-svg {
		width: 12rem;
		background-color: transparent;
		border: none !important;
	}
}

@media  (max-width: 900px) {
	.svg-link-container {
		flex-direction: column;
		font-size: 1.6rem;
		.img-svg-1,
		.img-svg-2,
		.img-svg-3,
		.img-svg-4,
		.img-svg-5,
		.img-svg-6,
		.img-svg-7 {
			width: 120px;
		}
	}

	.contact-2 {
		gap: 3rem;
	}

	.contact-2-skill {
		.img-svg {
			width: 40%;
			background-color: transparent;
			border: none !important;
		}
	}

	.svg-link-container:nth-child(2n) {
		flex-direction: column;
	}

	.contact-2-project {
		.img-svg {
			width: 100% !important;
			padding: 0 50px;
		}
	}
}

@media (max-width: 1100px) {
	.navbar-2 ul {
		gap: 2.5rem;
	}

	.main {
		width: 80%;
		padding: 50px 0;
	}

	.main-title {
		font-size: 2.8rem;
	}

	.main-sdesc {
		font-size: 1.6rem;
	}

	.main-ldesc {
		font-size: 1.05rem;
	}

	.intro {
		padding: 0 5dvw;
		flex-direction: column;
	}

	.back-svg-contaier {
		margin: auto;
		width: 80%;
	}

	.back-svg {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.header-container {
		height: max-content;
		display: block;
		padding: unset;
		backdrop-filter: unset;
	}

	.navbar {
		justify-content: unset;
		width: 100%;
		height: 100%;
		display: block;
	}

	.navbar-1 {
		margin: 1rem 0.75rem 0;
		border: 1px solid transparent;
		padding: 0.5rem max(4.5rem, 8dvw);
		backdrop-filter: blur(7px);
		border-radius: 25px;
		box-shadow: 0 0 10px rgba(255,255,255,0.27);
	}

	.home-link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: rgba(0,149,255,1);
		white-space: nowrap;
		font-size: 1.4rem;

		span {
			opacity: 1;
			display: inline-flex;
			color: white;
		}
	}

	.home-link-hide {
		white-space: nowrap;
	}

	.navbar-2 {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px 20px 15px;
		backdrop-filter: blur(7px);
	}

	.navbar-2 ul {
		justify-content: space-between;
		gap: 1rem;
		overflow: auto;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
		overflow: -moz-scrollbars-none;
	}

	.navbar-2 ul::-webkit-scrollbar { 
		display: none;  /* Older Safari and Chromium */
	}

	.navbar-2 ul li {
		font-size: 1.2rem;
	}

	.footer-container {
		margin-bottom: 50px;
	}
}

@media  (max-width: 900px) {
	.main {
		width: 100%;
	}

	.main-title {
		font-size: 2.2rem;
	}

	.main-sdesc {
		font-size: 1.3rem;
	}

	.home-link {
		font-size: 1.2rem;
	}

	.navbar-2 ul li {
		font-size: 0.95rem;
	}

	.footer-text {
		font-size: 0.8rem;
	}
}

.resume-link {
	display: inline-block;
	margin-left: 10px;
}

.resume-container {
	width: max-content;
	height: max-content;
	padding: 8px 20px;
	border-radius: 5px;
	transition: all 0.15s;
	background-color: rgba(0,149,255,1);
	color: black;
	font-weight: 700;
	font-family: Montserrat, Inter, sans-serif;
}

.resume-container:hover {
	opacity: 0.8;
}
