@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	padding: 100px 0 50px;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style: none;
}

.header-container {
	/* background-color: rgba(14,0,70,1); */
	color: white;
	padding: 1.5rem max(4.5rem, 8dvw);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: max-content;
	backdrop-filter: blur(7px);
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-2 ul {
	display: flex;
	gap: 4rem;
}

.navbar-2 ul li {
	transition: all 0.15s;
	font-size: 1.2rem;
	font-weight: 600;
}

.active {
	color: rgba(0,149,255,1);
}

.navbar-2 ul li:hover {
	color: rgba(0,149,255,1);
	opacity: 0.9;
}

.home-link {
	font-size: 1.6rem;
	font-weight: 800;
	transition: all 0.5s;

	span {
		opacity: 0;
		transition: all 0.5s;
		transition-timing-function: ease-in;
		color: black;
	}
}

.home-link:hover {
	/* color: rgba(0,97,179,1); */
	color: rgba(0,149,255,1);
	span {
		opacity: 1;
		display: inline-flex;
		color: white;
	}
}

.main-container {
	/* height: 100dvh; */
	margin: auto 0;
	display: flex;
	align-items: center;
	width: 100%;
}

.intro {
	padding: 220px 0 50px;
}

.main {
	height: max-content;
	width: 75%;
	max-width: 1000px;
	/* margin: auto; */
	padding: 0 max(0.3rem, 10dvw);
}

.main-title {
	font-size: 3.6rem;
	font-weight: 800;
	padding: 0 0 1.3rem 0;
}

.main-sdesc {
	font-size: 1.85rem;
	font-weight: 700;
	padding: 0 0 1.5rem 0;
	color: rgba(0,149,255,1);
}

.main-ldesc {
	font-size: 1.2rem;
	color: rgba(213,213,213,1);
	line-height: 1.5;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.75rem;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: transparent;
	padding-bottom: 30px;
}

.footer-text {
	text-align: center;
}

.github-link {
	/* margin: auto; */

	img {
		width: 14px;
	}
}

@media (max-width: 1100px) {
	.navbar-2 ul {
		gap: 2.5rem;
	}

	.main {
		width: 80%;
	}

	.main-title {
		font-size: 2.8rem;
	}

	.main-sdesc {
		font-size: 1.6rem;
	}

	.main-ldesc {
		font-size: 1.05rem;
	}
}

@media (max-width: 1000px) {
	.header-container {
		height: max-content;
		display: block;
		padding: unset;
		backdrop-filter: unset;
	}

	.navbar {
		justify-content: unset;
		width: 100%;
		height: 100%;
		display: block;
	}

	.navbar-1 {
		margin: 1rem 0.75rem 0;
		border: 1px solid transparent;
		padding: 0.5rem max(4.5rem, 8dvw);
		backdrop-filter: blur(7px);
		border-radius: 25px;
		box-shadow: 0 0 10px rgba(255,255,255,0.27);
	}

	.home-link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: rgba(0,149,255,1);
		white-space: nowrap;
		font-size: 1.4rem;

		span {
			opacity: 1;
			display: inline-flex;
			color: white;
		}
	}

	.home-link-hide {
		white-space: nowrap;
	}

	.navbar-2 {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px 20px 15px;
		backdrop-filter: blur(7px);
	}

	.navbar-2 ul {
		justify-content: space-between;
		gap: 1rem;
		overflow: auto;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
		overflow: -moz-scrollbars-none;
	}

	.navbar-2 ul::-webkit-scrollbar { 
		display: none;  /* Older Safari and Chromium */
	}

	.navbar-2 ul li {
		font-size: 1.2rem;
	}
}

@media  (max-width: 900px) {
	.main {
		width: 100%;
		padding: max(7rem) max(1.35rem);
	}

	.home-link {
		font-size: 1.2rem;
	}

	.navbar-2 ul li {
		font-size: 0.95rem;
	}
}

/* CSS FROM IT Website */
/*  */

.login-container-box {
	text-align: center;
	margin: auto;
	padding: 50px 0 100px;
}

.login-container {
	width: min(100%, 570px);
	border: 3px solid white;
	padding: 50px 40px 40px;
	border-radius: 15px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.login-title {
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.7rem;
}

.login-input-container {
	display: flex;
	justify-content: space-between;
	font-size: 1.1rem;
}

.login-input {
	padding: 0 5px;
	font-family: "Inter", sans-serif;
	width: 100%;
	max-width: 250px;
	color: black;
	font-size: 1.03rem;
}

.login-input-container:has(a.no-exist-acc),
.login-input-container:has(input.login-btn) {
	justify-content: space-around !important;
}

.login-btn {
	color: black;
	padding: 10px 60px;
	border: none;
	border-radius: 25px;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.15s;
}

.login-btn.submit {
	background-color: transparent;
	border: 3px solid rgb(65,235,196);
	color: white;
}

.login-btn.reset {
	background-color: transparent;
	border: 3px solid crimson;
	color: white;
}

.login-btn.submit:hover {
	background-color: rgb(65,235,196);
	color: black;
}

.login-btn.reset:hover {
	background-color: crimson;
}

.login-input-container:has(a) {
	justify-content: center;
}

.login-input-container:has(a) .no-exist-acc-link {
	text-decoration: underline;
	transition: all 0.15s;
}

.login-input-container:has(a) .no-exist-acc-link:hover {
	color: grey;
}

.body:not(.dark) {
	.login-container {
		border: 3px solid black;
	}

	.login-btn {
		color: black;
	}

	.login-btn.reset:hover {
		color: white;
	}

	.login-input-container:has(a) .no-exist-acc-link {
		color: black !important;
	}

	.login-input-container:has(a) .no-exist-acc-link:hover {
		color: grey !important;
	}

	.php-status-success-message {
		font-weight: bold;
		color: black !important;
	}

}

@media  (max-width: 900px) {
	.main-container:has(.login-container-box) {
		padding: 0 2%;
	}

	.login-container-box {
		margin: 10px;
	}

	.login-container {
		padding: 50px 20px 40px;
		/* width: 100%; */
	}

	.login-input-container {
		text-align: start;
		flex-direction: column;

		input {
			width: 100%;
			max-width: unset;
		}
	}
	
	.login-input-container:has(input.login-btn) {
		flex-direction: column;
		gap: 30px;
	}
}

/* CSS FROM IT Website Ends */
